* {
  box-sizing: border-box;
}

html {
  --base-color: #444;
  --dark-color: #213c69;
  --light-color: #f4f5f7;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --spacing: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 1.5rem;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--dark-color);
}

.contact:before {content: "\0040\ ";}
.embed {font-family: "Courier New", Courier, monospace;}
.embed:before {content: "\003C";}
.embed:after {content: "\003E";}
.expand:before {content: "\271A\ ";color:#666;}
.download:before {content: "\21E3\ ";}
.quality:before {content: "\2750\ ";color:#480;}
.share:before {content: "\271A\ ";color:#fa7;}
.list-icon:before {content: "\2630\ ";}
.cloud-icon:before {content: "\2601\ ";}

header,
main,
nav,
footer,
.alert {
  padding: var(--spacing);
}

nav {
  height: 3em;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header {
  background: var(--dark-color);
  color: #fff;
}

header.fixed {
  margin-bottom: 3em;
}

header h1 {
  font-size:1.4em;
  font-weight: 400;
}

.alert {
  background: var(--warning-color);
}

nav {
  background: var(--light-color);
}

nav a {
  font-size: 0.8rem;
  padding-right: calc(var(--spacing) / 2);
}

nav a,
nav a:visited,
nav a:active {
  color: var(--base-color);
}

main {
  max-width: 700px;
  min-height: 250px;
  margin: 0 auto;
}

h2 {
  margin-top: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.0625rem;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

input[type="search"] {-webkit-appearance:textfield;}
input, textarea, select {border:1px solid #ccc;font-size:1em;padding:3px;margin:0;vertical-align:middle;}
input.text {width:20em;height:40px;padding:6px 12px;line-height:1.42857143;background-image:none;border:1px solid #ccc;border-radius:4px}
input.text:focus {border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
input.submit {padding:6px 12px;margin-bottom:0;background:#6A7389;color:#fff;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.hidden {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}

ul.item {list-style: none;margin:0;padding:0;}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 185px;
}

.featured .feature-item {
  padding: var(--spacing);
  width: calc(128px + calc(2 * var(--spacing)));
  text-align: center;
}

.timeline {
  margin-top: calc(4 * var(--spacing));
  min-height: 185px;
}

.timeline-item {
  margin-bottom: calc(2 * var(--spacing));
}

.title-and-date {
  display: flex;
  align-items: flex-start;
}

.title-and-date .date {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 2px;
}

.title-and-creator {
  flex: 1;
  padding-left: var(--spacing);
}

.title-and-creator .title {
  font-weight: 600;
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: calc(var(--spacing) / 2);
}

.title-and-creator .feature-item {
  padding-top: calc(var(--spacing) / 2);
  text-transform: uppercase;
  font-size: 0.7em;
}

.timeline-item .description {
  padding: var(--spacing);
  background: var(--light-color);
}
.timeline-item.break .description {
  background: var(--success-color);
}

footer {
  font-size: 0.8em;
  background: var(--light-color);
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load 1.8s infinite ease-in-out;
}
.loader {
  color: var(--light-color);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*medium screen view < 801px (based on 16px browser default)*/
@media all and (max-width:50.1em) {
  header h1 {font-size:1.3em;}
  .featured .feature-item {padding-left:0;}
}
/*small screen view < 481px (based on 16px browser default)*/
@media all and (max-width:30.063em) {
  header h1 {font-size:1em;}
  input.text {width:13em;}
}
@media all and (min-width: 375px) {
  nav a {font-size:1.1rem;padding-right:var(--spacing);}
}
